 <div class="container">
   <div class="row">
    <div class="col-3">
     <h2>User info</h2>
      <span><%= current_user.profile_image %>
      <table class="table">
       <tbody>
        <tr></tr>
        <tr><th>name</th> <th><%= current_user.name%></th></tr>
        <tr><th>introduction</th> <th><%= current_user.introduction%></th></tr>
       </tbody>
     </table>
   </div>
  </div>
 </div>