<div class="container">
 <div class="row">
  <div class="mx-auto px-3 mt-3">
      <h1 class="mb-2">Welcome to <strong><span><i class="fas fa-book"></i>Bookers<span></strong> !</h1>
  </div>
 </div>
</div>
