<div class="Notification">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: key %>
  <% end %>
</div>

<div class="container">
 <div class="row">
  <div class="mx-auto mt-3 col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="mb-2">welcome to <strong><span><i class="fas fa-book"></i>Bookers<span></strong> !!</h1>
      <p class="mb-3">In <strong><i class="fas fa-book"></i>Bookers</span></strong>,</p>
      <p class="mb-3">you can share and exchange your opinions , inpressions , and emotions</p>
      <p class="mb-3">about various books!</p>

      <div class="button-wrapper mx-auto">
        <div class="row">
         <div class="col-10 mx-auto">
            <%= link_to "Log in", new_user_session_path,  class:"btn btn-info btn-sm mb-3 mx-auto btn-block" %>
         </div>
        </div>

        <div class="row">
         <div class="col-10 mx-auto">
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-sm mx-auto btn-block" %>
        </div>
      </div>
  </div>
 <idiv>
</div>