<div class="container">
 <div class="row">
  <div class="mx-auto">
      <h1 class="mb-2">welcome to <strong><span><i class="fas fa-book"></i>Bookers<span></strong> !!</h1>
      <p class="mb-3">In <strong><i class="fas fa-book"></i>Bookers</span></strong>,</p>
      <p class="mb-3">you can share and exchange your opinions , inpressions , and emotions</p>
      <p class="mb-3">about various books!</p>

      <div class="button-wrapper col-10 mx-auto">
        <div class="row">
         <button type="button" class="btn btn-info btn-sm btn-block mb-3">Log in</button>
        </div>

        <div class="row">
          <button type="button" class="btn btn-success btn-sm btn-block">Sign up</button>
        </div>
      </div>
  </div>
 <idiv>
</div>